#catalog_container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  height: 100%;
}

.alert_message_container {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.alert_message {
  color: rgb(90, 89, 89);
  font-size: 1.2rem;
  text-align: center;
  background-color: rgb(255, 153, 153);
  height: 3rem;
  margin: 0 14rem 0.2rem 14rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  text-align: center;
  border-radius: 6px;
}

.main_tabs_container {
  box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.25);
  background-color: rgb(247, 247, 247);
  border-radius: 8px;
  /* padding: 1rem 2rem; */
  margin: auto;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  padding: 4px;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  color: rgb(90, 89, 89);
}

.react-tabs__tab--selected {
  background: #cfcfcf;
  border-color: #aaa;
  color: rgb(90, 89, 89);
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.tab_category_style {
  font-weight: 600 !important;
  color: rgb(104, 104, 104);
  font-style: italic;
}

.tab_category_variation {
  font-weight: 600 !important;
  color: rgb(104, 104, 104);
  font-style: italic;
}

.main_tab {
  font-size: 1.3rem;
  font-weight: 500;
}

.sub_tab {
  font-size: 1.1rem;
  font-weight: 400;
}

.tab_container {
  display: flex;
  height: 40rem;
  padding: 1rem;
  justify-content: space-evenly;
}

.tab_image {
  height: 100%;
  width: 50%;
  max-width: 50%;
  object-fit: contain;
}

.info_container {
  height: 100%;
  width: 50%;
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  #catalog_container {
    display: flex;
    flex-direction: column;
    height: calc(100dvh - 6rem);
    padding: 0 0.5rem;
    justify-content: center;
    background-color: rgb(241, 241, 241);
    width: 1;
    min-height: 100%;
  }

  .alert_message_container {
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding-top: 4px;
  }

  .alert_message {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 2px auto;
    border-radius: 6px;
    line-height: 1rem;
    padding: 2rem 1rem;
    vertical-align: middle;
    font-size: 1rem;
  }

  .main_tabs_container {
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 8px;
    padding: 1rem 0.1rem;
    min-height: 100%;
    max-height: 100%;
  }

  .react-tabs__tab {
    padding: 2px 6px;
  }

  .main_tab {
    font-size: 1rem;
    font-weight: 500;
  }

  .sub_tab {
    font-size: 0.8rem;
    font-weight: 400;
  }

  .tab_container {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
  }

  .tab_image {
    width: 100%;
    min-width: 100%;
    object-fit: cover;
  }

  .info_container {
    width: 100%;
    min-width: 100%;
    padding: 1rem;
  }
}