#catalog_container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  background: linear-gradient(180deg, rgb(230, 201, 164) 0%, rgb(255, 234, 206) 30%, rgb(255, 255, 255) 50%, rgb(255, 234, 206) 70%, rgb(230, 201, 164) 100%);
}

.alert_message_container {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.alert_message {
  color: rgb(90, 89, 89);
  font-size: 1.2rem;
  text-align: center;
  background-color: rgb(255, 153, 153);
  height: 3rem;
  margin: 0 14rem 0.2rem 14rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  text-align: center;
  border-radius: 6px;
}

.main_tabs_container {
  box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.25);
  background-color: rgb(247, 247, 247);
  border-radius: 8px;
  margin: auto;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  padding: 4px;
  text-align: center;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  color: rgb(90, 89, 89);
}

.react-tabs__tab--selected {
  background: #cfcfcf;
  border-color: #aaa;
  color: rgb(90, 89, 89);
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.tab_category_style {
  font-weight: 600 !important;
  color: rgb(104, 104, 104);
  font-style: italic;
}

.tab_category_variation {
  font-weight: 600 !important;
  color: rgb(104, 104, 104);
  font-style: italic;
}

.main_tab {
  font-size: 1.3rem;
  font-weight: 500;
}

.sub_tab {
  font-size: 1.1rem;
  font-weight: 400;
}

.antibacterial_tab {
  color: rgb(90, 172, 90);
}

/* .tab_container {
  display: flex;
  flex-direction: row;
} */

.tab_container {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
}

.tab_image_container {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 1rem;
}

.tab_image {
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.tab_info_container {
  margin: 0;
  padding-bottom: 1rem;
  margin-left: 1rem;
}

.specs_container {
  display: grid;
  grid-template-columns: 1fr 1.85fr;
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 4px;
  line-height: 1.5rem;
  align-items: flex-start;
  padding: 2rem 0;
  margin-bottom: 1rem;
  height: 60%;
  /* margin-left: 10%; */
  width: 100%;
}

.spec_key {
  height: 2rem;
  color: rgb(90, 89, 89);
  padding-left: 0.5rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.spec_value {
  height: 2rem;
  color: rgb(90, 89, 89);
  line-height: 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.spec_value sup {
  font-size: 0.65rem;
  vertical-align: baseline;
  position: relative;
  top: -6px;
}

.spec_value span {
  font-size: 1rem;
}

.colors_container {
  margin-bottom: 2rem;
}

.colors_embla {
  margin-right: 3rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  #catalog_container {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    background-color: rgb(241, 241, 241);
  }

  .alert_message_container {
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding-top: 4px;
  }

  .alert_message {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 2px auto;
    border-radius: 6px;
    line-height: 1rem;
    padding: 2rem 1rem;
    vertical-align: middle;
    font-size: 1rem;
  }

  .main_tabs_container {
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 8px;
    padding: 1rem 0.1rem;
    margin-bottom: 0.5rem;
  }

  .react-tabs__tab {
    padding: 2px 4px;
  }

  .react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    text-align: left;
  }

  .main_tab {
    font-size: 1rem;
    font-weight: 500;
  }

  .sub_tab {
    font-size: 0.8rem;
    font-weight: 400;
  }

  /* .tab_container {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
  } */

  .tab_container {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);
  }

  .tab_image_container {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 1rem;
  }

  .tab_info_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.7rem;
  }

  .tab_image {
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  .specs_container {
    grid-column-gap: 3px;
    grid-row-gap: 0;
    line-height: 1.1rem;
    padding: 0;
    margin: auto;
  }

  .spec_key {
    color: rgb(90, 89, 89);
    padding-left: 0.5rem;
    font-weight: 600;
    font-size: 0.9rem;
  }

  .spec_value {
    color: rgb(90, 89, 89);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.9rem;
  }

  .spec_value sup {
    font-size: 0.65rem;
    vertical-align: baseline;
    position: relative;
    top: -6px;
  }

  .spec_value span {
    font-size: 1rem;
  }

  .colors_container {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .colors_embla {
    margin-right: 1.9rem;
  }

  .colors_embla__controls {
    margin-top: 0.5rem;
  }

}