#quality_showcase_container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.quality_showcase {
  display: flex;
  height: 30rem;
  width: 100%;
  justify-content: space-between;
  padding-top: 1rem;
}

.quality_showcase_photo {
  max-width: 33%;
}

.quality_message_photo {
  margin-top: auto;
  padding: 2rem;
  padding-top: 1rem;
  list-style: none;
  line-height: 1.8rem;
  font-size: 1.1rem;
  font-style: italic;
  color: rgb(90, 89, 89);
  text-align: center;
}

.quality_message {
  text-align: center;
  padding-top: 1rem;
  font-size: 1.1rem;
  font-style: italic;
  color: rgb(114, 114, 114);
  font-weight: 600;
  list-style: none;
  margin: auto;
}