.home_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover_photo {
  width: 100%;
  max-width: 100%;
  background-image: url('./../assets/stock3.png');
  background-size: cover;
}

.slogan {
  margin: 24rem auto;
  text-align: center;
  width: 50%;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-shadow: 6px 6px 10px black;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.banner {
  display: flex;
  flex-direction: row;
  height: 7rem;
  align-items: center;
  background-color: transparent;
  text-align: center;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 600;
  padding-top: 3rem;
  margin: auto;
  text-shadow: rgb(177, 177, 177) 6px 4px 10px;
  color: rgb(90, 89, 89);
}