#about_container {
  display: flex;
  color: rgb(66, 66, 66);
  height: calc(100vh - 14rem);
  align-items: center;
  background-color: antiquewhite;
}

.about_info_container {
  line-height: 1.5rem;
  padding: 5rem 3rem;
}

.about_info_container p {
  font-size: 1rem;
  font-style: italic;
}

.about_image {
  border-radius: 40px;
  margin-right: 3rem;
}

@media only screen and (max-width: 768px) {
  #about_container {
    flex-direction: column;
    height: auto;
    background-image: url('./../assets/mobile_black_cottage.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100%);
  }

  .about_info_container {
    line-height: 1.4rem;
    margin: 1rem 0.5rem;
    padding: 2rem;
  }

  .about_info_container p {
    background-color: antiquewhite;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 600;
    color: rgb(59, 59, 59);
    border-radius: 10px;
    opacity: 75%;
    padding: 1rem;
  }
}