#about_container {
  display: flex;
  flex-direction: column;
  color: rgb(66, 66, 66);
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgb(230, 201, 164) 0%, rgb(255, 234, 206) 30%, rgb(255, 255, 255) 50%, rgb(255, 234, 206) 70%, rgb(230, 201, 164) 100%);
  padding-bottom: 4rem;
}

.about_info_container {
  line-height: 1.5rem;
  padding: 2rem 10rem;
  margin: auto;
  width: 80%;
}

.about_info_container p {
  font-size: 1.2rem;
  font-style: italic;
  padding-left: 1rem;
}

.about_image {
  border-radius: 40px;
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  #about_container {
    flex-direction: column;
    height: auto;
  }

  .about_info_container {
    line-height: 1.4rem;
    margin: 1rem 0.5rem;
    padding: 0.5rem;
  }

  .about_info_container p {
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    color: rgb(59, 59, 59);
    padding: 1rem;
  }
}