#faqs_container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgb(230, 201, 164) 0%, rgb(255, 234, 206) 30%, rgb(255, 255, 255) 50%, rgb(255, 234, 206) 70%, rgb(230, 201, 164) 100%);
  height: calc(100vh - 14rem);
  overflow-y: scroll;
}

#faqs_banner {
  color: rgb(71, 65, 56);
  font-family: Lato;
}

.faqs_banner {
  margin: 0 auto;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.sub_banner {
  font-size: 1.1rem;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2rem;
}

.questions_container {
  width: 36%;
  margin: 0 auto;
}

.faq_container {
  display: flex;
  width: 100%;
}

.question_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgb(231, 231, 231);
  padding: 0.7rem;
  margin: 0.5rem 0;
}

.question {
  font-size: 1.15rem;
}

.down_arrow {
  padding-top: 4px;
  height: 1.7rem;
}

.answer_container {
  display: none;
}

.show_answer {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 0.7rem;
  border-radius: 10px;
  flex: 1;
}

.show_faq_container {
  flex-direction: column;
}

.answer {
  font-size: 1.1rem;
  padding: 0 1rem;
  line-height: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .questions_container {
    width: 80%;
    margin: 0 auto;
  }

  .question_container {
    height: 3.9rem;
  }

  .question {
    font-size: 1.15rem;
    line-height: 1.3rem;
    margin: auto;
    text-align: center;
  }

  .down_arrow {
    padding-top: 10px;
    height: 1.7rem;
  }
}