.theme-light {
  --brand-primary: rgb(47, 112, 193);
  --brand-secondary: rgb(116, 97, 195);
  --brand-alternative: rgb(19, 120, 134);
  --background-site: rgb(249, 249, 249);
  --background-code: rgb(244, 244, 244);
  --text-body: rgb(54, 49, 61);
  --text-comment: rgb(99, 94, 105);
  --text-high-contrast: rgb(49, 49, 49);
  --text-medium-contrast: rgb(99, 94, 105);
  --text-low-contrast: rgb(116, 109, 118);
  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: rgb(234, 234, 234);
  --detail-low-contrast: rgb(240, 240, 242);
  --admonition-note: rgb(46, 109, 188);
  --admonition-warning: rgb(255, 196, 9);
  --admonition-danger: rgb(220, 38, 38);
  --brand-primary-rgb-value: 47, 112, 193;
  --brand-secondary-rgb-value: 116, 97, 195;
  --brand-alternative-rgb-value: 19, 120, 134;
  --background-site-rgb-value: 249, 249, 249;
  --background-code-rgb-value: 244, 244, 244;
  --text-body-rgb-value: 54, 49, 61;
  --text-comment-rgb-value: 99, 94, 105;
  --text-high-contrast-rgb-value: 49, 49, 49;
  --text-medium-contrast-rgb-value: 99, 94, 105;
  --text-low-contrast-rgb-value: 116, 109, 118;
  --detail-high-contrast-rgb-value: 192, 192, 192;
  --detail-medium-contrast-rgb-value: 234, 234, 234;
  --detail-low-contrast-rgb-value: 240, 240, 242;
  --admonition-note-rgb-value: 46, 109, 188;
  --admonition-warning-rgb-value: 255, 196, 9;
  --admonition-danger-rgb-value: 220, 38, 38;
}

.theme-dark {
  --brand-primary: rgb(138, 180, 248);
  --brand-secondary: rgb(193, 168, 226);
  --brand-alternative: rgb(136, 186, 191);
  --background-site: rgb(0, 0, 0);
  --background-code: rgb(12, 12, 12);
  --text-body: rgb(222, 222, 222);
  --text-comment: rgb(170, 170, 170);
  --text-high-contrast: rgb(230, 230, 230);
  --text-medium-contrast: rgb(202, 202, 202);
  --text-low-contrast: rgb(170, 170, 170);
  --detail-high-contrast: rgb(101, 101, 101);
  --detail-medium-contrast: rgb(25, 25, 25);
  --detail-low-contrast: rgb(21, 21, 21);
  --admonition-note: rgb(138, 180, 248);
  --admonition-warning: rgb(253, 186, 116);
  --admonition-danger: rgb(220, 38, 38);
  --brand-primary-rgb-value: 138, 180, 248;
  --brand-secondary-rgb-value: 193, 168, 226;
  --brand-alternative-rgb-value: 136, 186, 191;
  --background-site-rgb-value: 0, 0, 0;
  --background-code-rgb-value: 12, 12, 12;
  --text-body-rgb-value: 222, 222, 222;
  --text-comment-rgb-value: 170, 170, 170;
  --text-high-contrast-rgb-value: 230, 230, 230;
  --text-medium-contrast-rgb-value: 202, 202, 202;
  --text-low-contrast-rgb-value: 170, 170, 170;
  --detail-high-contrast-rgb-value: 101, 101, 101;
  --detail-medium-contrast-rgb-value: 25, 25, 25;
  --detail-low-contrast-rgb-value: 21, 21, 21;
  --admonition-note-rgb-value: 138, 180, 248;
  --admonition-warning-rgb-value: 253, 186, 116;
  --admonition-danger-rgb-value: 220, 38, 38;
}

.embla {
  max-width: 99%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-spacing-sm: 1.2rem;
  --slide-size-sm: 50%;
  --slide-spacing-lg: 1.5rem;
  --slide-size-lg: calc(100% / 3);
  padding: 1.5rem;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

@media (min-width: 750px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }
}

@media (min-width: 1200px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
}

.embla__slide {
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}

@media (min-width: 750px) {
  .embla__slide {
    display: flex;
    flex-direction: column;
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}

@media (min-width: 1200px) {
  .embla__slide {
    display: flex;
    flex-direction: column;
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
    width: 100%;
    height: 100%;
  }
}

.embla__slide__number {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.embla__slide__photo {
  width: 100%;
  object-fit: fill;
  border-radius: 30px;
}

.embla__slide__caption {
  margin: auto;
  padding: 0.3rem 1rem;
  border-radius: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
  color: rgb(71, 65, 56);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 0.9rem;
}

.embla__controls {
  display: flex;
  margin-top: 1.8rem;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
  margin: auto;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  color: rgb(97, 77, 51);
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__button:disabled {
  color: rgb(161, 132, 95);
}

.embla__button:hover {
  color: rgb(75, 61, 39);
}

.embla__button__svg {
  width: 55%;
  height: 55%;
}


/* colors carousel styling */
.colors_embla {
  width: auto;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: calc(100% / 3);
  --slide-spacing-sm: 1.2rem;
  --slide-size-sm: calc(100% / 4);
  --slide-spacing-lg: 1.5rem;
  --slide-size-lg: calc(100% / 5);
  padding: 1rem;
  padding-right: 0;
}

.colors_embla__viewport {
  overflow: hidden;
}

.colors_embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

@media (min-width: 750px) {
  .colors_embla__container {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }
}

@media (min-width: 1200px) {
  .colors_embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
}

.colors_embla__slide {
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 0;
  flex: 0 0 var(--slide-size-sm);
  padding-left: var(--slide-spacing);
}

@media (min-width: 750px) {
  .colors_embla__slide {
    display: flex;
    flex-direction: column;
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}

@media (min-width: 1200px) {
  .colors_embla__slide {
    display: flex;
    flex-direction: column;
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}

.colors_embla__slide__number {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.colors_embla__slide__photo {
  height: 100%;
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.colors_embla__slide__caption {
  padding: 0.25rem 0;
  border-radius: 20px;
  text-align: center;
  bottom: 0;
  color: rgb(71, 65, 56);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 0.9rem;
}

.colors_embla__slide__caption sup {
  font-size: 0.5rem;
}

.colors_embla__controls {
  display: flex;
  margin-top: 1.8rem;
}

.colors_embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
  margin: auto;
}

.colors_embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  color: rgb(97, 77, 51);
  display: flex;
  align-items: center;
  justify-content: center;
}

.colors_embla__button:disabled {
  color: rgb(161, 132, 95);
}

.colors_embla__button:hover {
  color: rgb(75, 61, 39);
}

.colors_embla__button__svg {
  width: 55%;
  height: 55%;
}

/* Catalog: Laser styling */

.laser_embla {
  width: 55%;
  margin: 1rem;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-spacing-sm: 1.2rem;
  --slide-size-sm: 50%;
  --slide-spacing-lg: 1.5rem;
  --slide-size-lg: calc(100% / 3);
  padding: 1.5rem 0;
}

.laser_embla__viewport {
  overflow: hidden;
}

.laser_embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

@media (min-width: 750px) {
  .laser_embla__container {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }
}

@media (min-width: 1200px) {
  .laser_embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
}

.laser_embla__slide {
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}

@media (min-width: 750px) {
  .laser_embla__slide {
    display: flex;
    flex-direction: column;
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}

@media (min-width: 1200px) {
  .laser_embla__slide {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    padding-left: var(--slide-spacing-lg);
    width: 100%;
    height: 100%;
  }
}

.laser_embla__slide__number {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.laser_embla__slide__photo {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.laser_embla__slide__caption {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0.3rem 1rem;
  border-radius: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
  color: rgb(71, 65, 56);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 0.9rem;
}

.laser_embla__controls {
  display: flex;
  margin-top: 0.5rem;
}

.laser_embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
  margin: auto;
}

.laser_embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  color: rgb(97, 77, 51);
  display: flex;
  align-items: center;
  justify-content: center;
}

.laser_embla__button:disabled {
  color: rgb(161, 132, 95);
}

.laser_embla__button:hover {
  color: rgb(75, 61, 39);
}

.laser_embla__button__svg {
  width: 55%;
  height: 55%;
}

/* Catalg: Laser colors styling */
.laser_colors_embla {
  width: 100%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: calc(100% / 3);
  --slide-spacing-sm: 1.2rem;
  --slide-size-sm: calc(100% / 4);
  --slide-spacing-lg: 1.5rem;
  --slide-size-lg: calc(100% / 5);
  padding: 1rem;
  padding-right: 2.65rem;
}

.laser_colors_embla__viewport {
  overflow: hidden;
}

.laser_colors_embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

@media (min-width: 750px) {
  .laser_colors_embla__container {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }
}

@media (min-width: 1200px) {
  .laser_colors_embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
}

.laser_colors_embla__slide {
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 0;
  flex: 0 0 var(--slide-size-sm);
  padding-left: var(--slide-spacing);
}

@media (min-width: 750px) {
  .laser_colors_embla__slide {
    display: flex;
    flex-direction: column;
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}

@media (min-width: 1200px) {
  .laser_colors_embla__slide {
    display: flex;
    flex-direction: column;
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}

.laser_colors_embla__slide__number {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.laser_colors_embla__slide__photo {
  height: 100%;
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.laser_colors_embla__slide__caption {
  padding: 0.25rem 0;
  border-radius: 20px;
  text-align: center;
  bottom: 0;
  color: rgb(71, 65, 56);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 0.9rem;
}

.laser_colors_embla__slide__caption sup {
  font-size: 0.5rem;
}

.laser_colors_embla__controls {
  display: flex;
  margin-top: 1.8rem;
}

.laser_colors_embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
  margin: auto;
}

.laser_colors_embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  color: rgb(97, 77, 51);
  display: flex;
  align-items: center;
  justify-content: center;
}

.laser_colors_embla__button:disabled {
  color: rgb(161, 132, 95);
}

.laser_colors_embla__button:hover {
  color: rgb(75, 61, 39);
}

.laser_colors_embla__button__svg {
  width: 55%;
  height: 55%;
}

@media only screen and (max-width: 768px) {
  .laser_tab_container {
    display: flex;
    flex-direction: column;
  }

  .laser_embla {
    width: 100%;
    margin: 1rem;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
    --slide-spacing-sm: 1.2rem;
    --slide-size-sm: 50%;
    --slide-spacing-lg: 1.5rem;
    --slide-size-lg: calc(100% / 3);
    padding-right: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .laser_colors_embla {
    padding-right: 2.5rem;
  }

  .laser_colors_embla__slide {
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 0;
    flex: 0 0 33%;
    padding-left: var(--slide-spacing);
  }

  .laser_colors_embla__slide__caption {
    padding: 0.25rem 0;
    border-radius: 20px;
    text-align: center;
    bottom: 0;
    color: rgb(71, 65, 56);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 0.9rem;
  }

  .laser_embla__button {
    width: 3rem;
    height: 3rem;
  }
}